<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/performances"></ion-back-button>
    </ion-buttons>
    <ion-title>Test Performance</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card class="ion-padding">
    <!-- <ion-card-title slot="bottom" class="ion-text-center font-600"> Graph </ion-card-title> -->
    <ion-card-content class="ion-no-padding dark">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="12">
            <p class="ion-text-center font-16 font-400">
              Grade: <span class="font-700 primary">B</span>
            </p>
          </ion-col>
          <ion-col size="6">
            <div class="d-flex justify-content-center">
              <div style="height: 120px; width: 120px">
                <canvas #performanceCanvas></canvas>
              </div>
            </div>
          </ion-col>
          <ion-col size="6" class="px-1">
            <p class="mb-0 font-12 font-400">
              <img
                src="assets/icon/doughnut-dot-correct.svg"
                alt="-"
                class="mr-2"
              />Correct: {{'69%'}}
            </p>
            <p class="mb-0 font-12 font-400">
              <img
                src="assets/icon/doughnut-dot-incorrect.svg"
                alt="-"
                class="mr-2"
              />Inorrect: {{'69%'}}
            </p>
            <p class="mb-0 font-12 font-400">
              <img
                src="assets/icon/doughnut-dot-unattempted.svg"
                alt="-"
                class="mr-2"
              />Unattempted: {{'69%'}}
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <div class="divider-with-text">
    <hr />
    <p class="">Performance Metrics</p>
  </div>
  <ion-card class="ion-padding">
    <ion-card-content class="ion-no-padding dark">
      <p class="text-center secondary font-12 font-400 line-height-normal">
        Total Score:
      </p>
      <p class="text-center dark font-20 font-700">{{ 48 }} / {{ 60 }}</p>
      <p class="font-12 font-400 mt-4">
        Total No. of Questions: <span class="font-600 secondary">{{ 6 }}</span>
      </p>
      <p class="font-12 font-400">
        Total questions attempted: <span class="font-600 secondary">{{ 6 }}</span>
      </p>
      <p class="font-12 font-400">
        Total correct answers: <span class="font-600 secondary">{{ 6 }}</span>
      </p>
      <p class="font-12 font-400">
        Total incorrect answers: <span class="font-600 secondary">{{ 6 }}</span>
      </p>
      <p class="font-12 font-400">
        Total unattempted questions:
        <span class="font-600 secondary">{{ 6 }}</span>
      </p>
      <p class="font-16 font-400 mt-4">
        Accuracy: <span class="font-700 primary">{{ 76.2 }} %</span>
      </p>
      <p class="font-12 font-600 mt-4 primary">Remark:</p>
      <p class="font-16 font-500 line-height-normal dark">
        {{ 'Early stages, pick up the pace, you can do better.' }}
      </p>
    </ion-card-content>
  </ion-card>
  <div class="divider-with-text">
    <hr />
    <p class="">Test Details</p>
  </div>
  <ion-card class="ion-padding">
    <!-- <ion-card-title>
      Performance Metrics
    </ion-card-title> -->
    <ion-card-content class="ion-no-padding dark">
      <p class="font-12 font-400">
        Test Date: <span class="font-600 secondary">{{ '23/05/2024' }}</span>
      </p>
      <p class="font-12 font-400">
        Test Subject: <span class="font-600 secondary">{{ 'Testing' }}</span>
      </p>
      <p class="font-12 font-400">
        Start Time: <span class="font-600 secondary">{{ '07:30 PM' }}</span>
      </p>
      <p class="font-12 font-400">
        End Time: <span class="font-600 secondary">{{ '8:21 PM' }}</span>
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
