<ion-content [fullscreen]="true" class="ion-padding">
  <div class="curved-background-container">
    <div class="curved-background">
      <div class="curved-white-circle"></div>
      <div class="curved-white-bar"></div>
      <div class="curved-purple-circle"></div>
    </div>
  </div>
  <ion-grid class="signup-form content-container h-100">
    <ion-row class="h-100 ion-align-items-center ion-justify-content-center">
      <ion-col class="ion-align-self-start">
        <p class="text-center font-24 font-400 white">Cuet Corner</p>
        <p class="text-center font-14 font-300 white">Welcomes You!</p>
      </ion-col>
      <ion-col size="12" class="ion-align-self-center">
        <ion-card class="ion-padding">
          <ion-card-content class="ion-no-padding">
            <p class="ion-text-center font-20 font-600 primary">LOGIN</p>
            <p class="mt-4 font-10 font-600 grey">Email</p>
            <ion-input
              class="ion-padding-horizontal"
              color="primary"
              fill="outline"
              [(ngModel)]="email"
              type="email"
              (keydown.enter)="login()"
            ></ion-input>
            <p class="mt-2 font-10 font-600 grey">Password</p>
            <ion-input
              class="ion-padding-horizontal"
              color="primary"
              fill="outline"
              [(ngModel)]="password"
              [type]="showPassword ? 'text' : 'password'"
              (keydown.enter)="login()"
            ></ion-input>
            <ion-checkbox
              class="font-12 font-500 grey mt-2"
              labelPlacement="end"
              [(ngModel)]="showPassword"
              >Show Password</ion-checkbox
            >
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" class="ion-align-self-end">
        <div class="text-center mt-4">
          <ion-button class="w-50" type="submit" (click)="login()">LOGIN</ion-button>
        </div>
        <p class="ion-text-center font-12 font-500 mt-4">
          Haven't Registered Yet?
          <span class="underline" routerLink="/signup">Signup Here!</span>
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
