<ion-content [fullscreen]="true" class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <p class="font-16 font-500 mt-4">Cuet Corner</p>
  <p class="font-12 mt-1">Welcomes,</p>
  <p class="font-32 font-600 ion-text-capitalize">
    {{ overallPerformance?.studentName?.toString().split(' ')[0] }}
  </p>

  <div>
    <p class="mt-5 font-12 font-400">Next Test Details:</p>
    <p class="mt-1 font-16 font-400">
      Date:
      <span class="font-600"
        >{{ (nextTest?.startTime | date: 'dd/MM/yyyy') || '-' }} </span
      >{{'@'}}<span class="font-600">
        {{ (nextTest?.startTime | date: 'hh:mm a') || '-' }}</span
      >
    </p>
    <ion-button
      expand="block"
      color="primary"
      class="mt-2"
      id="open-modal"
      [disabled]="!nextTest?.startTime"
      >START TEST</ion-button
    >
  </div>

  <div class="divider-with-text">
    <hr />
    <p class="">Performance</p>
  </div>

  <ion-card class="ion-activatable ion-padding mt-4">
    <ion-card-header class="">
      <ion-card-title>Your Overall Performance</ion-card-title>
    </ion-card-header>

    <ion-card-content class="ion-no-padding">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="6">
            <div
              class="chart-div d-flex justify-content-center mt-3 p-relative"
            >
              <div style="height: 120px; width: 120px">
                <canvas #overallCanvas></canvas>
              </div>
              <div class="chart-center">
                {{ overallPerformance?.grade || '-' }}
              </div>
            </div>
          </ion-col>
          <ion-col size="6" class="px-1">
            <p class="mb-0 font-10 font-500">
              <img
                src="assets/icon/doughnut-dot-correct.svg"
                alt="-"
                class="mr-2"
              />Correct: {{ (((overallPerformance?.correct /
              (overallPerformance?.correct + overallPerformance?.incorrect +
              overallPerformance?.unattempted )) * 100) | number: '.2-2')|| 0 }}
              %
            </p>
            <p class="mb-0 font-10 font-500">
              <img
                src="assets/icon/doughnut-dot-incorrect.svg"
                alt="-"
                class="mr-2"
              />Inorrect: {{ (((overallPerformance?.incorrect /
              (overallPerformance?.correct + overallPerformance?.incorrect +
              overallPerformance?.unattempted )) * 100) | number: '.2-2') || 0
              }} %
            </p>
            <p class="mb-0 font-10 font-500">
              <img
                src="assets/icon/doughnut-dot-unattempted.svg"
                alt="-"
                class="mr-2"
              />Unattempted: {{ (((overallPerformance?.unattempted /
              (overallPerformance?.correct + overallPerformance?.incorrect +
              overallPerformance?.unattempted )) * 100) | number: '.2-2')|| 0 }}
              %
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
    <!-- <ion-ripple-effect class="custom-ripple"></ion-ripple-effect> -->
  </ion-card>

  <ion-card
    class="ion-activatable ion-padding mt-4"
    (click)="navigateToTab2($event, previousPerformance?.testId)"
  >
    <ion-card-header class="">
      <ion-card-title>Your Previous Performance</ion-card-title>
    </ion-card-header>

    <ion-card-content class="ion-no-padding">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="6">
            <div
              class="chart-div d-flex justify-content-center mt-3 p-relative"
            >
              <div style="height: 120px; width: 120px">
                <canvas #previousCanvas></canvas>
              </div>
              <div class="chart-center">
                {{ previousPerformance?.grade || '-' }}
              </div>
            </div>
          </ion-col>
          <ion-col size="6" class="px-1">
            <p class="mb-0 font-10 font-500">
              <img
                src="assets/icon/doughnut-dot-correct.svg"
                alt="-"
                class="mr-2"
              />Correct: {{ (((previousPerformance?.correct /
              (previousPerformance?.correct + previousPerformance?.incorrect +
              previousPerformance?.unattempted )) * 100) | number: '.2-2') || 0  }} %
            </p>
            <p class="mb-0 font-10 font-500">
              <img
                src="assets/icon/doughnut-dot-incorrect.svg"
                alt="-"
                class="mr-2"
              />Inorrect: {{ (((previousPerformance?.incorrect /
              (previousPerformance?.correct + previousPerformance?.incorrect +
              previousPerformance?.unattempted )) * 100) | number: '.2-2') || 0  }} %
            </p>
            <p class="mb-0 font-10 font-500">
              <img
                src="assets/icon/doughnut-dot-unattempted.svg"
                alt="-"
                class="mr-2"
              />Unattempted: {{ (((previousPerformance?.unattempted /
              (previousPerformance?.correct + previousPerformance?.incorrect +
              previousPerformance?.unattempted )) * 100) | number: '.2-2') || 0 }} %
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
    <ion-ripple-effect *ngIf="previousPerformance?.testId" class="custom-ripple"></ion-ripple-effect>
  </ion-card>

  <div class="divider-with-text">
    <hr />
    <p class="">Materials</p>
  </div>

  <ion-grid class="material-cards">
    <ion-row class="ion-justify-content-between">
      <ion-col size="4" class="pr-2">
        <ion-card
          class="p-relative"
          [routerLink]="['/', 'tabs', 'dashboard', 'study-materials']"
          routerLinkActive="router-link-active"
        >
          <ion-card-content class="ion-activatable">
            <p class="font-12">Study Materials</p>
            <ion-ripple-effect class="custom-ripple"></ion-ripple-effect>
          </ion-card-content>
          <img
            class="new-page-icon"
            src="assets/icon/material-div-new-page.svg"
            alt=""
          />
        </ion-card>
      </ion-col>
      <ion-col size="4" class="px-1">
        <ion-card
          class="p-relative"
          [routerLink]="['/', 'tabs', 'dashboard', 'video-links']"
          routerLinkActive="router-link-active"
        >
          <ion-card-content class="ion-activatable">
            <p class="font-12">Video Links</p>
            <ion-ripple-effect class="custom-ripple"></ion-ripple-effect>
          </ion-card-content>
          <img
            class="new-page-icon"
            src="assets/icon/material-div-new-page.svg"
            alt=""
          />
        </ion-card>
      </ion-col>
      <ion-col size="4" class="pl-2">
        <ion-card
          class="p-relative"
          [routerLink]="['/', 'tabs', 'dashboard', 'pyqs']"
          routerLinkActive="router-link-active"
        >
          <ion-card-content class="ion-activatable">
            <p class="font-12">PYQs</p>
            <ion-ripple-effect class="custom-ripple"></ion-ripple-effect>
          </ion-card-content>
          <img
            class="new-page-icon"
            src="assets/icon/material-div-new-page.svg"
            alt=""
          />
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-modal #modal trigger="open-modal" [canDismiss]="true">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title class="ion-padding-horizontal">Start Test</ion-title>
          <ion-buttons slot="end" class="ion-padding-horizontal white">
            <ion-button (click)="modal.dismiss()" class="font-14"
              >Close</ion-button
            >
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-card class="ion-padding">
          <ion-card-content class="ion-no-padding">
            <h2 class="ion-text-center font-16 font-700 dark">TEST DETAILS</h2>

            <ion-grid class="mt-3">
              <ion-row>
                <ion-col size="6">
                  <p class="ion-text-center primary font-12 font-500">
                    Start Time:
                  </p>
                  <p
                    class="ion-text-center line-height-normal dark font-14 font-600 mb-0"
                  >
                    {{ nextTest?.startTime | date: 'dd/MM/yyyy' }}
                  </p>
                  <p
                    class="ion-text-center line-height-normal dark font-14 font-600"
                  >
                    {{ nextTest?.startTime | date: 'hh:mm a' }}
                  </p>
                </ion-col>
                <ion-col size="6">
                  <p class="ion-text-center primary font-12 font-500">
                    End Time:
                  </p>
                  <p
                    class="ion-text-center line-height-normal dark font-14 font-600 mb-0"
                  >
                    {{ nextTest?.endTime | date: 'dd/MM/yyyy' }}
                  </p>
                  <p
                    class="ion-text-center line-height-normal dark font-14 font-600"
                  >
                    {{ nextTest?.endTime | date: 'hh:mm a' }}
                  </p>
                </ion-col>
                <ion-col size="12" class="mt-2">
                  <p class="ion-text-center primary font-12 font-500">
                    Time Alloted:
                  </p>
                  <p
                    class="ion-text-center line-height-normal dark font-14 font-600 mb-0"
                  >
                    {{ nextTest?.timeAllotted }} min
                  </p>
                </ion-col>
                <ion-col size="12" class="mt-2">
                  <p class="ion-text-center primary font-12 font-500">
                    Topics:
                  </p>
                  <p
                    class="ion-text-center line-height-normal dark font-14 font-600 mb-0"
                  >
                    {{ nextTest?.topics }}
                  </p>
                </ion-col>
              </ion-row>
            </ion-grid>

            <p class="ion-text-center font-16 font-500 dark mt-4 mb-2">
              Attention! Once you click "Start Test" you will have:
            </p>
            <ul
              class="ion-padding-horizontal ion-text-center d-flex flex-column align-items-center font-12 font-400 dark"
            >
              <li>
                {{ nextTest?.timeAllotted || "-" }} minutes to complete the
                test.
              </li>
              <li>
                No answer submissions allowed after the time limit expires.
              </li>
              <li>No pausing or resuming the test once started.</li>
            </ul>

            <ion-button
              expand="block"
              (click)="modal.dismiss()"
              [routerLink]="['/', 'tabs', 'dashboard', 'live-test', nextTest?.testId]"
              routerDirection="forward"
              [disabled]="nextTest?.completed"
              >Start Test</ion-button
            >
            <p
              *ngIf="nextTest?.completed"
              class="font-10 ion-text-center primary mt-1"
            >
              Test has already been submitted!
            </p>
          </ion-card-content>
        </ion-card>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
