<ion-content [fullscreen]="true" class="">
  <div class="d-flex flex-column h-100">
    <ion-grid class="ion-padding p-relative">
      <ion-row class="mt-5">
        <ion-col size="4" offset-xs="4">
          <div class="ion-activatable ion-text-capitalize avatar-div">
            {{studentDetails?.studentName[0] || '-'}}
            <ion-ripple-effect></ion-ripple-effect>
          </div>
        </ion-col>
        <ion-col size="12" class="ion-margin-top">
          <div class="ion-text-center">
            <p class="name font-36 font-400">
              {{ studentDetails?.studentName || '-' }}
            </p>
          </div>
        </ion-col>
        <ion-col size="12" class="mt-1">
          <div class="ion-text-center">
            <p class="student-id font-12 font-500">
              Student ID: {{studentDetails?.studentId || '-' }}
            </p>
          </div>
        </ion-col>
        <ion-col size="12" class="mt-4">
          <p class="font-12 font-500 pl-1">Batch ID</p>
          <ion-input
            fill="outline"
            [value]="studentDetails?.batchId ? studentDetails?.batchId : '-'"
            disabled
            class="ion-padding-horizontal"
            placeholder="Batch ID"
          ></ion-input>
        </ion-col>
        <ion-col size="12" class="mt-1">
          <p class="font-12 font-500 pl-1">Phone</p>
          <ion-input
            fill="outline"
            [value]="studentDetails?.phone ? studentDetails?.phone : '-'"
            disabled
            class="ion-padding-horizontal"
            placeholder="Phone"
          ></ion-input>
        </ion-col>
        <ion-col size="12" class="mt-1">
          <p class="font-12 font-500 pl-1">Email</p>
          <ion-input
            fill="outline"
            [value]="studentDetails?.email ? studentDetails?.email : '-'"
            disabled
            class="ion-padding-horizontal"
            placeholder="Email"
          ></ion-input>
        </ion-col>
        <ion-col size="12" class="mt-1">
          <p class="font-12 font-500 pl-1">Age</p>
          <ion-input
            fill="outline"
            [value]="studentDetails?.age ? studentDetails?.age : '-'"
            disabled
            class="ion-padding-horizontal"
            placeholder="Age"
          ></ion-input>
        </ion-col>
        <ion-col size="12" class="mt-1">
          <p class="font-12 font-500 pl-1">CUET Attempts</p>
          <ion-input
            fill="outline"
            [value]="studentDetails?.cuetAttempts?.join(', ')"
            disabled
            class="ion-padding-horizontal"
            placeholder="Cuet Attempts"
          ></ion-input>
        </ion-col>
        <!-- <ion-col size="12" class="mt-1 ion-align-self-end">
          <p class="ion-text-center font-10">Made by Aditya</p>
        </ion-col> -->
      </ion-row>
    </ion-grid>
    <div class="ion-padding-horizontal">
      <ion-button expand="block mb-2" (click)="logout()" >LOGOUT</ion-button>
    <p class="ion-text-center font-10 mb-2">Made by Aditya</p>
    </div>
  </div>
</ion-content>
