// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  /* Set the background of the entire app */
  --ion-background-color: #f4f2ff !important;

  /* Set the font family of the entire app */
  --ion-font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Roboto', sans-serif;
  
  --ion-color-primary: #8555FD;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-shade: #7844fc;
  --ion-color-primary-tint: #9871fa;

  --ion-color-secondary: #A18AFF;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-shade: #8f74fd;
  --ion-color-secondary-tint: #baaafc;

  --ion-color-tertiary: #E4E0FA;
  --ion-color-tertiary-contrast: #8555FD;
  --ion-color-tertiary-shade: #c5c4c7;
  --ion-color-tertiary-tint: #c9c1f7;
}

/* Set text color of the entire app for iOS only */
:root.ios {
  --ion-text-color: #222;
  // ion-header{
  //   --ion-background: var(--ion-color-primary) !important;
  // }
  ion-toolbar{
    --background: #8555FD;
    .submit-btn{
      --color: #FFF !important;
    }
  }

  .signup-form{
    ion-input{
      // color:#c5c4c7 !important;
      --background: var(--ion-background-color, #fff);
    }
  }
}

/* Set text color of the entire app for Material Design only */
:root.md {
  --ion-text-color: #222;
}

ion-header{
  --ion-background-color: var(--ion-color-primary);
  // --ion-color: #FFF;
  ion-title{
    color: #FFF !important;
    font-size: 16px;
  }
}

ion-content {
  --keyboard-offset: 0px; /* Add any necessary offset here */
}

ion-back-button {
  --color: #FFF; /* Change to your desired color */
}

ion-col{
  height: max-content;
}

ion-input{
  --border-radius: 10px !important;
  border-radius: 10px !important;
  min-height: 42px !important;
  font-size: 12px !important;
  &:has(input:disabled){
    background-color: #FFF;
    opacity: 1 !important;
  }
  &.has-focus{
    --border-color: #8555FD !important;
  }
  background-color: #FFF;
    opacity: 1 !important;
  // color:#c5c4c7;
}

ion-button{
  --border-radius: 8px !important;
}

ion-card{
  ion-card-title{
    font-size: 16px;
  }
  border-radius: 16px;
  box-shadow: 0px 0px 8px 2px #22222212 ;
  background-color: #FFF;
}