.curved-background-container{
  position: absolute;
  top: 0;
  left: 0;
  z-index:1;
}
.curved-background {
  background-color: #8555FD;
  position: relative;
  overflow: hidden;
  z-index: 2;
  height: 30vh;
  width: 100vw;
}
.curved-white-bar{
  background-color: #f4f2ff;
  height:50%;
  width: 100%;
  position: absolute;
  bottom:50%;
  z-index: 3;
}
.curved-purple-circle {
  position: absolute;
  bottom: 50%; /* Adjust this value to control the curve */
  right: -25%;
  width: 150%;
  aspect-ratio: 1;
  // height: 100%; /* Adjust this value to control the curve */
  background: #8555FD; /* Same as the background color */
  border-radius: 50%;
  border-bottom-left-radius: 0;
  z-index: 4;
}
.curved-white-circle {
  position: absolute;
  top: 50%; /* Adjust this value to control the curve */
  left: -25%;
  width: 150%;
  aspect-ratio: 1;
  // height: 100%; /* Adjust this value to control the curve */
  background: #f4f2ff; /* Same as the background color */
  border-radius: 50%;
  border-top-right-radius: 0;
  z-index: 999;
}

.content-container{
  position: relative;
  z-index: 5;
}

// ion-input {
//   --background: var(--ion-background-color, #fff); /* Default background color */

//   // Apply specific styles for iOS
//   @media (min-width: 0px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: portrait) and (platform: ios) {
//     --background: var(--ios-background-color, #949494); /* iOS-specific background color */
//   }
// }

@media (min-width: 0px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: portrait) and (platform: ios) {
  ion-input{
    color: #8555FD;
  }
}

