/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
// @import "@ionic/angular/css/palettes/dark.system.css";

@import "./theme/variables.scss";

@import "./assets/scss/font-face.scss";
@import "./assets/scss/font-variables.scss";
@import "./assets/scss/layouting.css";

$primary: #8555FD;
$secondary: #A18AFF;
$tertiary: #E4E0FA;

$good: #8555fd;
$improve: #c1b2ff;
$bad: #c2bed4;

$white: #fff;
$dark: #222;
$grey: #666666;

@mixin color-map($name, $value) {
  .#{$name} {
    color: $value !important;
  }

  .hover-#{$name}:hover {
    color: $value !important;
  }

  .bg-#{$name} {
    background-color: $value !important;
  }

  .bg-hover-#{$name}:hover {
    background-color: $value !important;
  }

  .br-#{$name} {
    border: 1px solid $value !important;
  }
}

@include color-map("primary", $primary);
@include color-map("secondary", $secondary);
@include color-map("tertiary", $tertiary);
@include color-map("good", $good);
@include color-map("improve", $improve);
@include color-map("bad", $bad);
@include color-map("white", $white);
@include color-map("dark", $dark);
@include color-map("grey", $grey);

*:not(.fa,.fas){
  font-family: 'Lexend', sans-serif;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: normal;
}

p{
  margin-bottom: 0;
}

.p-relative{
  position: relative;
}

.alert-wrapper{
  border-radius: 12px !important;
}

.divider-with-text{
  position: relative;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  p{
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    top:50%;
    left:50%;
    background-color: #f4f2ff;
    transform: translate(-50%, -50%);
    padding: 0 12px;
  }
}

.custom-ripple {
  color: #dbd5ff;
}

.line-height-normal{
  line-height: normal !important;
} 

.underline{
  text-decoration: underline;
}